

*{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: 1px solid red;
}



html {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}



a img {
  border: none;
}

.flexy__item {
  display: flex;
  flex-wrap: nowrap;
}

.flexy__item {
  box-sizing: border-box;
}
.flexy--column {
  flex-direction: column;
}
.flexy--between {
  justify-content: space-between;
}
.flexy--justify-center {
  justify-content: center;
}
.flexy--items-center {
  align-items: center;
}
html,
body,
main {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  color: #FFFFFF;
  font-family: 'Sintony', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.4em;
  background-image: linear-gradient(135deg, rgb(0, 255, 255),rgb(40, 180, 131));
  overflow: hidden;
}

main {
  position: relative;
  padding: 2.8em;
  z-index: 2;
  overflow: auto;
}
@media (max-width: 40em) {
  main {
    padding: 0;
  }
}

.section {
  width: 100%;
}
.section > .header {
  margin-bottom: 1.4em;
}
.section__article {
  width: 100%;
  box-sizing: border-box;
  color: #404040;
}

em,
strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  color: #FFFFFF;
  line-height: 1.4em;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

main > .header {
  order: 3;
  text-align: center;
}

.accessible-hide {
  position: absolute;
  overflow: hidden;
  height: 0;
  text-indent: -900em;
}

@-webkit-keyframes logoAnim {
  45%,
    55% {
    stroke-dashoffset: 10em;
  }
}

@keyframes logoAnim {
  45%,
    55% {
    stroke-dashoffset: 10em;
  }
}
.logo-tadaima {
  height: 3.75em;
}
.logo-tadaima--animated {
  stroke-dasharray: 10em .2em 10em .2em 10em .2em 10em;
  stroke-dashoffset: 0;
  -webkit-animation: logoAnim 9s cubic-bezier(0.54, -0.24, 0.46, 1.28) infinite;
          animation: logoAnim 9s cubic-bezier(0.54, -0.24, 0.46, 1.28) infinite;
}

.svg-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.svg-icon {
  width: 1em;
  height: 1em;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.svg-icon__sprite {
  display: none;
}
.svg-icon--rotated-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.space--small {
  margin-bottom: 0.7em;
}
@media (max-width: 75em) {
  .space--small {
    margin-bottom: 0.518em;
  }
}

.space--normal {
  margin-bottom: 1.4em;
}
@media (max-width: 75em) {
  .space--normal {
    margin-bottom: 1.036em;
  }
}

.space--medium {
  margin-bottom: 2.8em;
}
@media (max-width: 75em) {
  .space--medium {
    margin-bottom: 2.072em;
  }
}

.space--big {
  margin-bottom: 4.2em;
}
@media (max-width: 75em) {
  .space--big {
    margin-bottom: 3.108em;
  }
}

.space--huge {
  margin-bottom: 5.6em;
}
@media (max-width: 75em) {
  .space--huge {
    margin-bottom: 4.144em;
  }
}

.color--white {
  color: #FFFFFF;
}

.fill--white {
  fill: #FFFFFF;
}

.stroke--white {
  stroke: #FFFFFF;
}

.color--black {
  color: #000000;
}

.fill--black {
  fill: #000000;
}

.stroke--black {
  stroke: #000000;
}

.color--red {
  color: #FF5572;
}

.fill--red {
  fill: #FF5572;
}

.stroke--red {
  stroke: #FF5572;
}

.color--coral {
  color: #FF6960;
}

.fill--coral {
  fill: #FF6960;
}

.stroke--coral {
  stroke: #FF6960;
}

.color--orange {
  color: #FF7555;
}

.fill--orange {
  fill: #FF7555;
}

.stroke--orange {
  stroke: #FF7555;
}

.color--gray {
  color: #404040;
}

.fill--gray {
  fill: #404040;
}

.stroke--gray {
  stroke: #404040;
}

@-webkit-keyframes changeMonth {
  50% {
    -webkit-transform: translate(0, 120%);
            transform: translate(0, 120%);
  }
}

@keyframes changeMonth {
  50% {
    -webkit-transform: translate(0, 120%);
            transform: translate(0, 120%);
  }
}
.calendar {
  width: 35em;
  height: 26.75em;
  position: relative;
}
@media (max-width: 40em) {
  .calendar {
    width: 100%;
  }
}
.calendar__table {
  width: 100%;
  height: 21.875em;
}
.calendar__table tr {
  width: 100%;
}
.calendar__tbody, .calendar__thead {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
.calendar__thead {
  height: 3.813em;
  padding: 0.7em;
  z-index: 2;
  background-color: #404040;
  color: #FFFFFF;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.25), 0 0.1em 0.5em 1px rgba(0, 0, 0, 0.35), 0 1em 2em 1px rgba(0, 0, 0, 0.15);
}
.calendar__thead .calendar__month__day {
  font-size: .75em;
  text-transform: uppercase;
}
.calendar__tbody {
  height: 19.438em;
  background-color: #FFFFFF;
  padding: 1.4em 0.7em;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.25), 0 0.1em 0.5em 1px rgba(0, 0, 0, 0.35), 0 1em 2em 1px rgba(0, 0, 0, 0.15);
}
.calendar__tbody--animate {
  -webkit-animation: changeMonth 0.9s ease-in-out forwards;
          animation: changeMonth 0.9s ease-in-out forwards;
}
.calendar__month {
  width: 100%;
  box-sizing: border-box;
  padding: 0 2.8em;
  overflow: hidden;
  position: relative;
}
.calendar__month:after {
  content: '';
  width: 100%;
  height: 3em;
  border-radius: 10%;
  position: absolute;
  z-index: 3;
  bottom: -3em;
  left: 0;
  box-shadow: 0 -1em 1em -1em rgba(0, 0, 0, 0.6), 0 0 4em -1em rgba(0, 0, 0, 0.2);
}
.calendar__month__day {
  display: inline-block;
  padding: 0.7em 0;
  text-align: center;
  box-sizing: border-box;
  flex-basis: 14.28571%;
  background-image: radial-gradient(#ff7555 50%, rgba(0, 0, 0, 0) 53%);
  background-size: 0 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s cubic-bezier(0.54, -0.24, 0.46, 1.28);
  transition-delay: 0.3s;
}
.calendar__month__day time {
  display: inline-block;
}
.calendar__month__day.today {
  color: #FFFFFF;
  background-size: 3.5em 3.5em;
}
@media (max-width: 40em) {
  .calendar__month__day.today {
    background-size: 3em 3em;
  }
}
.calendar__controls {
  color: #FFFFFF;
}

