*{
    box-sizing: border-box;
}

body{
    background-color: #252830;
    display: flex;
    justify-content: center;
}
.popup{
    position: absolute;
    background-color: #fdfdfd;
    box-shadow: 5px 5px 18px #888888;
    height: 90vh;
    width: 90vw;
    margin: auto;
    transition-duration: 1s;
    transform-origin: center;
    transform-style: preserve-3d;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.closePopUp{
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    height: 30px;
    width: 30px;
    background-color: rgb(245, 111, 111);
    margin: 10px;
    padding: 8px;
    float: right;
}

.closePopUp:hover{
    background-color: rgb(241, 36, 36);
}

.projectTitle{
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    font-size: 240%;
    margin-top: 50px;
    text-transform: uppercase;
    color: rgba(0, 140, 255, 0.8);
}

.ProjectDescritpion{
    text-align: center;
    padding: 40px;
    font-size: 200%;
    margin: 0px 40px 0px 40px;
}

.registerButton{
    position: relative;
    margin-top: 100px;
    margin-right: 20px;
    background-color: rgb(20, 173, 122);
    height: 50px;
    width: 150px;
    border-radius: 17px;
    box-shadow: 5px 5px 10px #c4c4c4;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    float: right;
}
.registerButton span{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 7px;
    left: 25px;
}
.registerButton:hover{
    box-shadow: 10px 10px 10px #c4c4c4;
}


@media only screen and (max-width:600px){
    .ProjectDescritpion{
    text-align: center;
    padding: 10px;
    font-size: 150%;
    margin: 0%;
}
.registerButton{
    margin: 10px;
    height: 50px;
    width: 150px;
    border-radius: 17px;
    float: right;
}
}