html,
body {
  background-color: #85b9dd;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* styling swiper */

.swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      background-color: azure;
      width: 75vw;
      height: 80vh;
    }

  /* styling swiper ending */

/* styling planes */

* {
  position: relative;
}

.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * Paper Plane
 */
/*Paper Plane: Container*/
.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
  transform: translate(-200px,-600px);
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping-y 3s 1s forwards infinite;
  -moz-animation: paper-plane-scoping-y 3s 1s forwards infinite;
  animation: paper-plane-scoping-y 3s 1s forwards infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

.plane-container-x {
  -webkit-animation: paper-plane-scoping-x 6s forwards infinite;
  -moz-animation: paper-plane-scoping-x 6s forwards infinite;
  animation: paper-plane-scoping-x 6s forwards infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes paper-plane-scoping-y {
  0% {
    transform: translate(-200px,-600px);
  }
  100% {
    transform: translate(200px,600px);
  }
}

@keyframes paper-plane-scoping-x {
  0% {
    transform: translate(-800px,250px);
  }
  100% {
    transform: translate(800px,-200px);    
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  perspective: 800px;
  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition-duration: 1s;
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transition-duration: 1s;
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transition-duration: 1s;
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transition-duration: 1s;
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transition-duration: 1s;
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition-duration: 1s;
    transform: rotate(0deg);
  }
}

/* styling planes ends here */