.event-block{
    background-color: rgba(0,0,0,0.5);
    opacity:1;
    margin :10px auto 10px auto;
    width:auto;
    height:auto;
    animation: bottomtotop 1s ease-out;
    cursor: pointer;
}

body{
    background-color: #252830;
    /*color: #777;*/
    padding: 30px;
}

.its.subHead{
  font-size: 15vh;
  height: auto;
  margin-top: 10%;
    background: linear-gradient(to right bottom,rgba(0, 140, 255, 0.8),rgba(11, 74, 110, 0.8)),
    url("walle.jpg");
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    background-clip: text;
    color: white;  /* Fallback: assume this color ON TOP of image */
    background: linear-gradient(to right bottom,rgba(0, 140, 255, 0.8),rgba(11, 74, 110, 0.8)),
    url("walle.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    animation: lefttoright 1s ease-in;
}

@keyframes bottomtotop{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    80%{
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes lefttoright{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
.left_box{
    width:40%;
    height:100%;
    float:left;
    padding:50px;
    box-sizing: border-box;
}

.left_box .content{
    color:#fff;
    background: rgba(0,0,0,0.5);
    padding: 40px;
    transition: 0.5s;
    font-family: 'Noto Serif KR', sans-serif;
}

.left_box .content:hover{
    background-color:#0a9581;
}

.left_box .content h1{
    margin:0;
    padding: 0;
    font-size: 40px;
    overflow: hidden;
    text-transform: uppercase;
}
.left_box .content p{
    margin: 10px 0 0;
    padding: 0;
}

.events_box{
    position: absolute;
    width: 60%;
    height: 100%;
    top:0;
    left:40%;
    background-color: rgba(0,0,0,0);
    float:right;
    box-sizing: border-box;
    overflow-y: scroll;
}

.events_box ul{
    position:absolute;
    margin:0;
    top:15px;
    transform: translateY(40px);
    padding:40px;
    box-sizing: border-box;
}

.events_box ul li{
    list-style:none;
    background: #fff;
    box-sizing: border-box;
    height:210px;
    top:15px;
    animation: bottomtotop 1s ease-out;
    margin:10px;
    animation: bottomtotop 0.5s ease-out;
    margin:5px;
}

.events_box ul li .event_date{
    position: relative;
    padding:20px;
    backface-visibility: #262626;
    box-sizing: border-box;
    width: 30%;
    height:100%;
    overflow: hidden;
    float:left;
    text-align:center;
    transition: 0.3s;
    background: rgba(0,0,0,0.5);
}

.events_box ul li:hover .event_date{
    background: #0a9581;
}

.events_box ul li .event_date h2{
    position: absolute;
    margin:0;
    padding: 0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
    font-size: 50px;
}

.events_box ul li .event_date h2 span{
    font-size: 30px;
}

.events_box ul li .event_details{
    padding:20px;
    background:#fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.events_box ul li .event_details h3{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
    color:
}
.events_box ul li .event_details p{
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
    color:rgba(0,0,0,1);
    font-family:serif;
}

/*.events_box ul li .event_details button{
    display: inline-block;
    border: 2px solid #262626;
    padding: 10px 10px;
    margin: 5px;
    background: transparent;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}*/
.organizer{
    float:right;
    font-weight: bold;
    text-transform: uppercase;
}
/*.events_box ul li .event_details button:hover {
    color:#fff;
    background: #0a9581;
    border-radius:100px;
}*/


.modal_background{
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    overflow:auto;
    display:none;
    background-color: rgba(0,0,0,0.5);
}
.modal_background .modal{
    background-color: #f4f4f4;
    margin :20% auto;
    padding:20px;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0.17);
}

.closebtn{
    color:"#ccc";
    float:right;
    font-size:30px;
}

.closebtn:hover,.closebtn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;   
}

.details_btn{
    display:inline-block;
    background-color:rgba(0,0,0,0.8);
    color:rgba(225,225,225,1);
   /*padding:5px;
    margin:2px;*/
    text-decoration: none;
    padding: 8px 10px;
    margin: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.details_btn:hover{
    background-color:#0a9581;
}

.block:hover{
    box-shadow: 5px 10px 8px rgba(0,0,0,1);
    width:100%;
    height:220px;
    margin:6px;
    cursor:pointer;
}